.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top-section {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Thay đổi để có khoảng cách đều giữa các box */
  margin-bottom: 20px;
}


.image-box {
  width: 50%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  overflow: hidden; /* To prevent image overflow when zoomed */
}

/* .image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease; 
}

.zoom-in {
  transform: scale(1.5); 
}

.zoom-out {
  transform: scale(1); 
} */

.zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab; /* Dragging cursor */
}

.zoom-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.zoom-container img:active {
  cursor: grabbing; /* Change cursor when dragging */
}

.file-input-left, .file-input-right {
  margin-top: 10px; /* Khoảng cách giữa file input và box */
}

.file-input-left {
  position: absolute; /* Đặt vị trí tuyệt đối cho nút upload bên trái */
  left: 10; /* Góc trái */
  top: 320px; /* Khoảng cách từ trên xuống */
}

.file-input-right {
  position: absolute; /* Đặt vị trí tuyệt đối cho nút upload bên phải */
  right: 0; /* Góc phải */
  top: 320px; /* Khoảng cách từ trên xuống */
}

.compare-section {
  margin: 20px 0;
}

.result-section {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: none;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}